<section id="alumni" class="alumni section wow fadeInUp">
	<div class="alumni__inner inner">
		<h2 class="section-title">卒業生の声</h2><!-- /.section-title -->
		<div class="pagination__center">
        　　 <%= paginate @posts, window: 2%>
        </div><!-- ./paginations -->
        <div class="alumni__items">
			<% @posts.each do |post| %>
             <div class="alumni__item posts__alumni__item">
				<a class="alumni__media posts__alumni__media" href="/posts/<%= post.id %>/">
					<%= render 'layouts/alumni-table', object: post %>	
				</a><!-- /.alumni__media -->
        	</div><!-- /.alumni__item -->
			<% end %>
		</div><!-- /.alumni__items -->
        <div class="pagination__center">
        　　 <%= paginate @posts, window: 2%>
        </div><!-- ./paginations -->
	</div><!-- /.alumni__inner -->
</section><!-- /.alumni -->