<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="img/icon.jpg">
  <title>高知大学　森林科学領域</title>
  <meta name="description" content="高知大学農林海洋科学部農林資源環境科学科森林科学領域の公式ホームページです">
  <link rel="stylesheet" type="text/css" href="./css/reset.css">
	<link rel="stylesheet" href="./css/swiper.min.css">
	<link rel="stylesheet" href="./css/style.css">
	<!-- wow.js puraguinn -->
	<link rel="stylesheet" href="./css/animate.css">
	<!--fontawesome-->
	<script src="https://kit.fontawesome.com/c93c1bab3a.js" crossorigin="anonymous"></script>
	<!-- OGP -->
	<meta property="og:url" content="http://www.kochi-u.ac.jp/agrimar-skg/isikawaizumi.html" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="高知大学 農林海洋科学部 森林科学領域" />
	<meta property="og:description" content="森林率全国1位の高知県!林業や自然を学ぶためには絶好の環境です"/>
	<meta property="og:site_name" content="高知大学 農林海洋科学部 農林資源環境科学科 森林科学領域" />
	<meta property="og:image" content="http://www.kochi-u.ac.jp/agrimar-skg/img/isikawa-prof.jpg" />
	<!--twitter-card-->
	<meta name="twitter:card" content="summary_large_image" /> 
	<meta name="twitter:site" content="@KochiU_News"/>
</head>
<body>
	<header class="header">
		<div class="inner header__inner">
			<h1 class="header__logo"><img src="img/logo.png" alt="高知大学森林科学領域公式ホームページ"></h1><!-- /.header__logo -->
			<nav class="header__nav">
				<ul>
					<li><a href="http://www.kochi-u.ac.jp/">高知大学トップ</a></li>
					<li><a href="http://www.kochi-u.ac.jp/agrimar/">農林海洋科学部トップ</a></li>
					<li><a href="http://www.kochi-u.ac.jp/agrimar/japan/gakubu/nourin.html">農林資源環境科学科トップ</a></li>
					<li><a href="https://nyusi.kochi-u.jp/">入試情報</a></li>
				</ul>
			</nav><!-- /.header__nav -->
		</div><!-- /.header__inner -->
	</header><!-- /.header -->
	<button class="drawer-icon js-drawer for-drawer" type="button" data-target="for-drawer">
		<span class="drawer-bars">
			<span class="drawer-bar"></span>
			<span class="drawer-bar"></span>
			<span class="drawer-bar"></span>
		</span>
		<span class="drawer-text">メニュー</span>
	</button><!-- /drawer-icon -->
	<div class="drawer-content-cover for-drawer">
		<ul>
			<li><a href="http://www.kochi-u.ac.jp/">高知大学トップ
			</a></li>
			<li><a href="http://www.kochi-u.ac.jp/agrimar/">農林海洋科学部トップ</a></li>
			<li><a href="http://www.kochi-u.ac.jp/agrimar/japan/gakubu/nourin.html">農林資源環境科学科トップ</a></li>
			<li><a href="https://nyusi.kochi-u.jp/">入試情報</a></li>
		</ul>
  </div><!-- /drawer-content -->
  
  <section id="" class="prof section">
    <div class="prof__inner inner">
      <div class="prof__media">
        <div class="prof__media__body">
          <div class="prof__media__title">石川いずみ さん</div><!-- /.media__title -->
          <div class="prof__media__table">
            <table class="table-default">
              <tr>
                <th>出身</th>
                <td>：</td>
                <td>千葉県</td>
              </tr>
              <tr>
                <th>職業</th>
                <td>：</td>
                <td>林野庁　関東森林管理局　日光森林管理署</td>
              </tr>
              <tr>
                <th>研究室</th>
                <td>：</td>
                <td>大谷研究室</td>
              </tr>
              <tr>
                <th>研究分野</th>
                <td>：</td>
                <td>森林資源利用学</td>
              </tr>
             </table> 	
          </div><!-- /.prof__media__table -->
        </div><!-- /.prof__media__body -->
        <div class="prof__media__img"><img src="./img/isikawa-prof.jpg" alt="石川いずみさんの写真"></div><!-- /.media__img -->
      </div><!-- /.prof__media -->
    </div><!-- /.prof__inner -->
  </section><!-- /.prof -->

  <section id="" class="main section">
    <div class="main__inner inner">
      <div class="main__content">
        <h2 class="main__title">森林科学科への進学理由</h2>
        <p>子どものころから家族で山登りによく行っており、自然の中で遊ぶことが大好きでした。また、植物の勉強が小学生の時から好きだったので農学部への進学は即決でした。都会のキャンパスライフより自然豊かな場所で学びたい！と思い、千葉からはるばる森林率全国一の高知県に進学しました。</p>
      </div><!-- /.main__content -->
      <div class="main__content">
        <h2 class="main__title">今の仕事につながる森林領域での学び</h2>
        <p>森林領域では、森林や木材の専門的な講義だけでなく、演習林などフィールドでの実習カリキュラムが豊富です。実際に植林から伐採まで行うことができる育林実習は、肌に感じて技術を学べる貴重な体験でした。実体験に基づいて得られた知識・経験は現在の私の基礎となっています。</p>
      </div><!-- /.main__content -->
      <div class="main__content">
        <h2 class="main__title">今の職場での仕事内容</h2>
        <p>林野庁は日本全体の森林の政策、立案を行うだけでなく、国有林の管理経営を実際に行っています。
        私は国有財産の管理を担当しており、土地の貸付業務が主です。普段は内務が多いですが、ドローンや狩猟の罠講習、高性能林業機械の運転など現場の勉強ができる機会も多くあります。</p>
      </div><!-- /.main__content -->
      <div class="main__content">
        <h2 class="main__title">高知大学での経験や思い出</h2>
        <p>演習林実習が1番印象に残っています。夏休みは1週間以上演習林に籠り、昼間は森の中で学び、夜はBBQや花火、呑み会などをします。宿舎では共同生活を送るので、その分友達との仲も深まりました。また、公開森林実習というものもあり、北海道から沖縄まで全国の他大学の演習林実習に参加できます。普段見ない森林にいけるだけでなく全国の林学徒と友達になれます。わたしは屋久島、山形、沖縄の実習に参加しましたが、たくさん刺激をもらい、今の仕事を志望するきっかけにもなりました。</p>
      </div><!-- /.main__content -->
      <div class="main__content">
        <h2 class="main__title">これから進学する皆さんへ</h2>
        <p>大学は自由に使える時間がたくさんありますが、その分あっという間に4年間が過ぎていきます。大学へ入ったらやりたいこと、挑戦したいことを見つけ、自ら行動していくことが大切だと思います。
				皆さんが高知大学で充実した日々を送れることを願っています。</p>
      </div><!-- /.main__content -->
      <div class="main__content">
        <img src="./img/isikawa-end.jpg" alt="石川いずみの写真">
      </div><!-- /.main__content -->
    </div><!-- /.main__inner -->
  </section><!-- /.main -->
   
  <section id="" class="bottom section">
    <div class="bottom__inner inner">
      <div class="bottom__nav">
        <nav>
          <ul>
            <li><a href="index.html#a-graduate">卒業生の声に戻る<i class="fas fa-arrow-right"></i></a></li>
            <li><a href="index.html">森林領域トップ<i class="fas fa-arrow-right"></i></a></li>
          </ul>
        </nav>
      </div><!-- ./buttom__nav -->
    </div><!-- ./buttom__inner -->
  </section><!-- ./buttom -->

	<footer>
		<div class="footer__inner inner">
			<div class="footer__container">
				<div class="footer__left">
					<div class="footer__logo"><a href="http://www.kochi-u.ac.jp/"><img src="img/ftr_logo.png" alt="高知大学 フッター アイコン"></a>
					</div><!-- /.footer__logo -->
					<div class="footer__info">
						<p>農林海洋科学部　農林資源環境科学科　森林科学領域</p>
						<p>住所：〒783-8502　南国市物部乙200</p>
						<p>電話：（088）864-5114</p>
					</div><!-- /.footer__info -->
				</div><!-- /.footer__left -->
				<div class="footer__right">
					<div class="footer__sns">
						<ul class="shareList">
							<li class="shareList__item"><a class="shareList__link icon-twitter" href="http://twitter.com/share?url=http://www.kochi-u.ac.jp/agrimar-skg/isikawaizumi.html" title="Twitter"><i class="fab fa-twitter"></i></a></li>
							<li class="shareList__item"><a class="shareList__link icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://www.kochi-u.ac.jp/agrimar-skg/isikawaizumi.html"
							target="_blank"
							rel="nofollow noopener noreferrer"><i class="fab fa-facebook-f"></i></a></li>
							<li class="shareList__item"><a class="shareList__link icon-line" href="https://social-plugins.line.me/lineit/share?url=http://www.kochi-u.ac.jp/agrimar-skg/isikawaizumi.html"
								target="_blank"
								rel="nofollow noopener noreferrer" title="LINE"><i class="fab fa-line"></i></a></li>
						</ul><!-- /.shareList -->
					</div><!-- /.footer_sns -->
				</div><!-- /.footer__right-->
			</div><!-- /.footer__container -->
			<div class="footer__copy">Copyright 2020 Kochi University</div><!-- /.footer__copy -->
		</div><!-- /.footer__inner -->
	</footer><!-- /.footer-->

	<div id="page-top" class="page-top">
		<p><a id="move-page-top" class="move-page-top">▲</a></p>
	</div><!-- /.page-top -->

  <!--jquery読み込み -->
	<script src="./js/jquery-3.5.1.min.js"></script>
	<!-- スワイパープラグイン -->
	<script src="./js/swiper.min.js"></script>
	<!-- wow プラグイン読み込み -->
	<script src="./js/wow.min.js"></script>
	<!-- main.js読み込み -->
	<script src="./js/main.js"></script>

</body>
</html>
