<h2>パスワードのリセット</h2>
<p><%= @user.name %>さん <%= @greeting %>。</p>

<p>下のリンクをクリックしてパスワードを設定してください。</p>

<%= link_to "パスワードをリセットする", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>このメールは自動メールです。</p>
