<% provide(:title, 'プロフィールを編集する') %>
<section id="" class="login section">
  <div class="loggin__inner inner">
  
    <h2 class="section-title">プロフィールを編集する</h2><!-- /.section-title -->
    <div class="contact__item login__item">
        <div id="formWrapper">
        <%= render 'layouts/form' %>
    </div><!-- /.contact__item -->
  </div><!-- /.contact__inner -->
</section><!-- /.contact -->

