<% provide(:title, 'Sign up') %>
<section id="" class="login section">
  <div class="loggin__inner inner">
  
    <h2 class="section-title">管理者を作成する。</h2><!-- /.section-title -->
    <div class="contact__item login__item">
      <div id="formWrapper">
        <%= render 'layouts/form' %>
      </div>
    </div><!-- /.contact__item -->
  </div><!-- /.contact__inner -->
</section><!-- /.contact -->

