<section id="" class="post section">
  <div class="poat__inner inner">
    <div class="head">
      <h1 class="section-title">投稿する</h1><!-- /.section-title -->
    </div>  
    <div class="post__item">
      <div id="formWrapper">
        <%= render 'layouts/post-form' %>
      </div><!-- /#formWrapper -->
    </div>
  </div><!-- /.post__inner -->
</section><!-- /.post -->

