<% provide(:title, "お問い合わせ") %>

<section id="" class="contact section wow fadeInUp">
	<div class="contact__inner inner">
		<h2 class="section-title">お問い合わせ</h2><!-- /.section-title -->
		<div class="contact__item">
        <p>お問い合わせありがとうございました。</p>
        <p>ご確認次第、ご返信いたします。</p>
        <p>ご返信には３営業日ほどお時間をいただく場合がございます。ご了承ください。</p>
		</div><!-- /.contact__item -->
	</div><!-- /.contact__inner -->
</section><!-- /.contact -->