@import 'setting';

// -----
// フッター
// -----

footer {
	background-color: $color-main;
}

.footer__container {
	padding: 24px 0 10px;
	display: flex;
	justify-content: space-between;
	max-width: 900px;
	margin: auto;

	@include mq('sp') {
		flex-direction: column;
		text-align: center;
	}
}

.footer__logo {
	text-align: left;

	@include mq('sp'){
		text-align: center;
		margin-right: 20px;
	}
}

.footer__info {
	color :#fff;
	
	p {
		&:first-child {
			font-size: 24px;
			font-weight: 700;

			@include mq('tab') {
				font-size: 18px;
			}
		}

		&:last-child {
			@include mq('sp') {
				margin-bottom: 5px;
			}
		}
	}
}

.footer__copy {
	color: #fff;
	text-align: center;
}

.shareList {
	list-style:none;
	display: flex;
	justify-content: center;
	width:100%;
	margin:-5px 0 -4px -5px;
	padding:0;
}

.shareList__item {
	height:50px;
	line-height:50px;
	width:50px;
	margin:5px 0 2px 5px;
	text-align:center;

	@include mq('sp') {
		height:40px;
		line-height:40px;
		width:40px;
	}
}

.shareList__link {
	display:block;
	color:#ffffff;
	text-decoration: none;
	border-radius: 5px;
	position: relative;
}

.shareList__link::before {
	font-size:16px;
	display:block;
	transition:.2s;
}

.shareList__link:hover {
	opacity: 0.75;
}

.shareList__link.icon-twitter {
	background:#55acee;
	border-bottom: solid 4px rgba(0,0,0,0.25);
}

.shareList__link.icon-facebook {
	background:#3B5998;
	border-bottom: solid 4px rgba(0,0,0,0.25);
}

.shareList__link.icon-line {
	background:#1dcd00;
	border-bottom: solid 4px rgba(0,0,0,0.25);
}

.shareList__link:active {
	-ms-transform: translateY(4px);
	-webkit-transform: translateY(4px);
	transform: translateY(4px);
	border-bottom: none;
}

.fab {
	font-size: 2em;
	vertical-align: middle;

	@include mq('sp') {
		font-size: 1.7em;
	}
}

