@import "users";

.section,body {
    padding-top: 0;
}

.contact__submit {
    cursor: pointer;
    a {
        text-decoration: none;
        
        &:hover {
            color: #fff;
        }
    }
}