@import "reset";
@import "plugin/swiper";
@import "plugin/animate";
@import "setting";
@import "header";
@import "footer";

// -----
// メインビジュアル
// -----

.mainvisual {
	width: 100%;
	overflow: hidden;
}

.mainvisual__content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	padding-left: $padding-pc + 180px;
	padding-right: $padding-pc + 180px;	
	max-width: 1500px;
	margin: auto;

	@include mq('tab') {
		padding-left: $padding-tab + 60px;
		padding-right: $padding-tab + 60px;
	}

	@include mq('sp') {
		padding-left: $padding-sp + 25px;
		padding-right: $padding-sp + 25px;
	}
}



.mainvisual__title {
	font-size: 56px;
	font-weight: 900;
	line-height: 90px;
	white-space: nowrap;
	
	@include mq('sp') {
		font-size: 28px;
		line-height: 45px;
	}
}

.mainvisual__lead {
	font-size: 24px;
	font-weight: 700;
	margin-top: 24px;
	line-height: 60px;

	@include mq('sp') {
		font-size: 20px;
		line-height: 38px;
	}
}

.text-bg {
	padding: 5px;
	background: rgb(73, 68, 68);
	color: #fff;
	opacity: 0.9;
}

.swiper-slide {
	height: 650px;
	width: 100%;
	color: black;
	// position: relative;

	@include mq('tab') {
		height: 500px;
	}

	@include mq('sp') {
		height: 400px;
	}

	&:before{
		background-color: rgba(255, 255, 255, 0.5);
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		content: ' ';
	}
}

// .swiper-slide-1 {
// 	background: transparent url(../img/mainvisual-2.JPG) no-repeat top center / cover;

// 	@include mq('sp') {
// 		background-position: top right 35%;
// 	}
// }

// .swiper-slide-2 {	
// 	background: transparent url(../img/mainvisual-1.JPG) no-repeat top center / cover;

// 	@include mq('sp') {
// 		background-position: top left;
// 	}
// }

// .swiper-slide-3 {
// 	background: transparent url(../img/mainvisual-3.JPG) no-repeat center / cover;
// }
.swiper-slide {
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}


.swiper-button-prev,
.swiper-button-next {
	width: 40px;
	height: 40px;
	transition: all 0.3s ease 0s;
	margin: -20px 0 0;
	z-index: 3;

	&:hover {
		opacity: $hover-opacity;
	}

	&::after {
		content: "";
	}

	@include mq('sp') {
		width: 30px;
		height: 30px;
	}
}

.swiper-button-prev {
	background: transparent image-url('slide-arrow-left.png') no-repeat center center / contain;
	left: calc(50% - #{$layout-width-inner / 2});

	@include mq('tab') {
		left: 24px;
	}

	@include mq('sp') {
		left: 4px;
	}
}

.swiper-button-next {
	background: transparent image-url('slide-arrow-right.png') no-repeat center center / contain;
	right: calc(50% - #{$layout-width-inner / 2});

	@include mq('tab') {
		right: 24px;
	}

	@include mq('sp') {
		right: 4px;
	}
}

.swiper-pagination-bullet {
	width: 16px;
	height: 16px;
	background: #fff;
	opacity: 1;

	@include mq('sp') {
		width: 8px;
		height: 8px;
	}
}

.swiper-pagination-bullet-active {
	background: $color-main;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
	bottom: 10px;
	z-index: 2;

	.swiper-pagination-bullet {
		margin-left: 6px;
		margin-right: 6px;
	}
}

@keyframes fade-in {
	from {
			opacity: 0;
	}

	to {
			opacity: 1;
	}
}

.swiper-slide-active {

	.mainvisual__content {
			animation-name: fade-in;
			animation-duration: 1s;
			animation-delay: 1s;
			animation-fill-mode: both;
	}
}

.mainvisual__content__1 {
	top: 70%;
}

.mainvisual__content__2 {
	top: 35%;
}

.mainvisual__content__3 {
	top: 35%;
	text-align: right;
}





// -----
// 森林を学ぶ意義
// -----

.meaning{
	background-color: #c1984d11;
	line-height: (24 / 16);
}

.meaning__item {
	display: flex;
	margin-bottom: 100px;

	@include mq('tab') {
		margin-bottom: 70px;
	}

	@include mq('sp') {
		margin-bottom: 30px;
	}
}

.meaning__img {
	width: 100px;
	margin-right: 30px;
}

.meaning__body {
	width: 70%;

	@include mq('tab') {
		width: 100%;
	}
}

.meaning__title {
	font-size: $font-size-base + 8px;
	font-weight: 700;
	margin-bottom: 20px;
}

.meaning__reference {
	text-align: right;
	font-size: $font-size-base - 6px;

	&__title {
		font-size: $font-size-base - 3px;
	}

	a{
		text-decoration: none;
		display: block;
		color: #404448;
		margin-top: 10px;
		transition: all 0.3s ease;

		&:hover {
			color: $color-main;
		}
	}
}

// -----
// 高知大学とは&授業の紹介
// -----

.content {
	line-height: (24 / 16);
}

.content__items {
	display: flex;
	margin-top: 80px;

	@include mq('tab') {
		display: block;
		margin-top: 52px;
	}
}

.course__items {
	@include mq('tab') {
		display: flex;
		flex-direction: column-reverse;
	}
}

.content__item {
	margin: 0 auto;
	width: 100%;

	&:first-child {
		margin-right: 10px;
	}
}	

.content__item__body {
	@include mq('tab'){
		max-width: 650px;
		margin: 30px auto 0;
	}

	@include mq('sp') {
		margin-top: -30px;
	}
}

.content__video {
	.video__title {
		font-weight: 700;
		font-size: $font-size-base + 8px;
		text-align: center;
		margin-bottom: 10px;
	
		@include mq('sp') {
			margin-bottom: 5px;
		}
	}

	.video__img {
		overflow: hidden;
		width: 530px;
		height: 298.13px;
		margin: auto;

		@include mq('tab') {
			width: 400px;
			height: 225px;
		} 

		@include mq('sp') {
			width: 290px;
			height: 168.75;
		} 

		img {
			cursor: pointer;
			transition:1s all;		

			&:hover {
				opacity: 0.8;
				transform:scale(1.2,1.2);
				transition:1s all;
			}
		}
	}
}

//動画モーダル
#modal_1,#modal_2,#modal_3{
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	  background-color: rgba(0,0,0,0.7);
	  z-index: map-get($layer, 'header');
  }
  
  #modal_content_1,#modal_content_2,#modal_content_3{
	width:900px;
	background:#fff;
	margin:0;
	  padding:10px 10px 0;
	position:relative;
	top: 50%;
	left: 50%;
	  transform:translate(-50%,-50%);
	  z-index: map-get($layer, 'modal');
  
	  @include mq('tab') {
		  width: 700px;
	  }
  
	  @include mq('sp') {
		  width: 90%;
	  }
  }
  
  video {
	  width: 100%;
  }
  
  .btn_close {
	  width: 5%;
	  position: absolute;
	  top: -7%;
	  right: 0%;
	  z-index: map-get($layer, 'header');
	  cursor: pointer;
  
	  &::before{
		  position: relative;
	  }
  }

// -----
// 先生の紹介
// -----

.teacher {
	background-color: #c1984d11;
}

.teacher__inner {
}

.teacher__items {
	display: flex;
	flex-wrap: wrap;
}

.teacher__item {
	width: calc(33.33333333% - 24px * 2 / 3);
	margin-right: 24px;
	margin-top: 24px;
	overflow: visible;
	background: #fff;
	border-radius: 4px;
	padding: 16px 16px 14px;
	transition: all 0.15s ease 0s;

	&:nth-child(3n) {
		margin-right: 0;
	}

	&:nth-of-type(4) {
		margin-left: auto;
	}

	&:nth-of-type(5) {
		margin-right: auto;
	}

	&:nth-of-type(n+2) {
		&:hover {
			background-color: $color-main;
	
			.see-details {
				border: 2px solid #fff;
			}
	
			.teacher__media {
				color: #fff;
			}
		}
	}

	@media (max-width: 900px) {
		width: 100%;
		height: auto;
		margin-right: 0;
		margin-bottom: 32px;
	}


	.teacher__media {
		display: block;
		text-decoration: none;
		transition: all 0.15s ease 0s;
		color: #6f7579;

		.teacher__media__img {
			text-align: center;
		
			img {
				vertical-align: bottom;
				width: 80px;
				height: 80px;
				margin-top: -33px;
				border-radius: 999%;
			}
		}

		.teacher__media__body {
			margin-top: 12px;
		}
		
		.teacher__media__title {
			font-weight: 700;
			font-size: 20px;
			text-align: center;
		}
		
		.teacher__media__job {
			text-align: center;
			font-size: $font-size-base - 4;
		}
		
		.teacher__media__content {
			font-weight: 700;
			margin-top: 4px;
			line-height: 1.8;
		}		
	}
}

.button-teacher {
	display: block;
	border: 2px solid $color-main;
	background: #fff;
	color: #6f7579;
	margin: 24px auto 0;
	text-align: center;
	font-weight: 700;
	text-decoration: none;
	box-shadow: 0 3px 6px rgba(#000, 0.16);
	cursor: pointer;
	transition: all 0.15s ease 0s;
	padding: 22px 24px;
	border-radius: 8px;
	font-size: 24px;
	width: 384px;
	max-width: 100%;

	&:hover {
		background: $color-main;
		color: #fff;
		text-decoration: none;
	}

	@include mq('sp') {
		padding: 20px 36px;
		font-size: 20px;
		width: 280px;
	}
}

// -----
// 卒業生の声
// -----

.alumni {
	background-color: #c1984d11;
}

.alumni__inner {
}

.alumni__items {
	display: flex;
	flex-wrap: wrap;
	margin-top: 56px;

	@include mq('sp') {
		margin-top: 30px;
	}
}

.alumni__item {
	width: calc(50% - 24px / 2);
	margin-right: 24px;
	margin-top: 24px;
	overflow: hidden;

	&:nth-child(2n) {
		margin-right: 0;
	}

	@include mq('tab') {
		width: 100%;
		max-height: 350px;
		margin-right: 0;
	}

	@include mq('sp') {
		max-height: 200px;
	}

	a {
		text-decoration: none;
	}
}

.alumni__media {
	overflow: hidden;
	background: #fff;
	border-radius: 4px;
	display: flex;
	text-decoration: none;
	transition: all 0.15s ease 0s;
	color: #6f7579;
	height: 300px;

	@include mq('tab') {
		height: auto;
	}

	&:hover {
		background-color: $color-main;
		color: #fff;

		.see-details {
			border: 2px solid #fff;
		}
	}
}

.alumni__media__img {
	text-align: center;
	width: 50%;

	img {
		vertical-align: bottom;
		width: 100%;
		height: 100%;
    object-fit: cover;
	}
}

.alumni__media__body {
	margin-top: 12px;
	width: 50%;
	padding: 10px;

	@include mq('tab') {
		max-width: 350px;
		margin: 30px auto;
	}

	@include mq('sp') {
		margin-top: 6px;
		padding: 5px;
	}
}

.alumni__media__title {
	font-weight: 700;
	font-size: 20px;
	text-align: center;

	@include mq('sp') {
		font-size: $font-size-base - 2px;
	}
}

.alumni__media__table {
	font-weight: 700;
	margin-top: 4px;
	line-height: (24 / 16);
	overflow: hidden;
	padding: 10px 20px;

	@include mq('sp'){
		padding: 0;
		font-size: $font-size-base - 4px;
	}
}

.table-default {
	border-spacing: 5px;
	margin: 0 auto;

	tr {
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0px;
		}
	}

	th {
		font-weight: 700;
		white-space: nowrap;
	}

	td {
		font-weight: 700;
	}
}

// -----
// 資格 top
// -----

.skill__top__inner {
	text-align: center;
}

.skill__top__text {
	position: absolute;
	z-index: 10;
	background: #fff;
	left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
	padding:0 15px;
	font-size: $font-size-base+4px;
	
	@include mq('sp') {
		font-size: $font-size-base + 2px;
		width: 240px;
	}
}

.skill__top__items {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background: #fff;
	border: 5px double $color-main;
	padding: 50px 30px;
	margin: 56px auto 0;
	color: #333333;
	width: 900px;
	max-width: 100%;
	position: relative;

	@include mq('sp') {
		border: 3px double $color-main;
		padding: 20px 10px;
	}
}

.skill__top__item {
	width: calc(20% - 24px * 4 / 5);
	margin-right: 24px;
	margin-top: 24px;

	@include mq('sp') {
		font-size: $font-size-base - 3px;
		width: calc(20% - 12px * 4 / 5);
		margin-right: 12px;
	}

	&:last-child {
		margin-right: 0px;
	}
}

.skill__bottom__items {
	margin: 24px auto 0;
	width: 900px;
	max-width: 100%;
}

.skill__bottom__content {
	margin-bottom: 24px;

	&:last-child {
		margin-bottom: 0;
	}
}

.accordion {
}

.accordion__head {
	margin: 0;
	background: $color-main;
	color: #fff;
	padding: 6px 20px;
	position: relative;
	font-size: 18px;
	font-weight: 700;

	@include mq('tab') {
		cursor: pointer;
	}

	img {
		width: 30px;
		margin-right: 20px;
		vertical-align: middle;
	}
}

.accordion__body {
	margin: 0;
	background: #fff;
	border: 1px solid $color-main;
	font-weight: 700;
	display: none;
	padding: 12px 30px 14px 56px;
	line-height: (24 / 16);
	color: #6f7579;
	position: relative;
	font-size: 16px;

	@include mq('sp') {
		padding-right: 22px;
	}
}

.accordion__body__first {
	display: block;
}

.accordion__body-in {	
}

.accordion__body__link {
	margin-top: 32px;

	a {
		display: block;
		color: $color-main;
		margin-top: 10px;
		transition: all 0.3s ease 0s;

		&::before {
			font-family: "Font Awesome 5 Free";
			content: '\f35a';
			font-weight: 900;
			display:inline-block;
			font-size: $font-size-base + 10px;	
			margin-right: 10px;
			vertical-align: middle;
		}

		&:hover {
			opacity: 0.7;
		}
	}
}

.accordion__icon {
	width: 12px;
	height: 12px;
	background: transparent image-url('icon-plus.png') no-repeat center center / contain;
	position: absolute;
	right: 14px;
	top: 50%;
	transform: translateY(-50%);

	&.is-open {
		background-image: image-url('icon-minus.png');
	}
}

.accordion__icon__first {
	background: transparent image-url('icon-minus.png') no-repeat center center / contain;

	&.is-open {
		background-image: image-url('icon-plus.png')
	}
}

// -----
// フォーム
// -----

.contact {
	background-color: #c1984d11;
}

.contact__inner{
}

.contact__item {
	margin: 80px auto 0;
	padding: 60px;
	background: #fff;
	width: 800px;
	max-width: 100%;

	@include mq('sp') {
		padding: 20px;
		margin-top: 26px;
	}
}

.contact__item__lead {
	margin-bottom: 60px;

	@include mq('sp') {
		margin-bottom: 24px;
	}
}

.contact__controls {
	margin: 0;
}

.contact__control {
	margin-bottom: 60px;
	display: flex;

	@include mq('sp') {
		display: block;
		margin-bottom: 24px;
	}

	&:last-child {
		margin-bottom: 0;
	}

	dt {
		width: 160px;
		padding: 6px 0 0;
		margin: 0;

		@include mq('sp') {
			width: 100%;
			padding-top: 0;
		}
	}

	dd {
		flex-grow: 1;
		padding: 0;
		margin: 0;

		@include mq('sp') {
			width: 100%;
			margin-top: 8px;
		}
	}
}

.contact__label {
	font-size: 16px;
	font-weight: 700;

	@include mq('sp') {
		font-size: 16px;
		display: inline-block;
	}
}

.contact__label--required {
	position: relative;

	@include mq('sp') {
		padding-right: 54px;
	}

	&::after {
		content: "必須";
		position: absolute;
		background: $color-active;
		border-radius: 4px;
		text-align: center;
		color: #fff;
		font-size: 14px;
		line-height: 1;
		font-weight: 700;
		padding: 4px 8px;
		width: 44px;
		display: block;
		top: calc(100% + 8px);
		left: 0;

		@include mq('sp') {
			top: 50%;
			left: auto;
			right: 0;
			transform: translateY(-50%);
			padding: 2px;
		}
	}
}

.contact__required {
	background: $color-active;
	border-radius: 12px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	padding: 1px 8px;
	width: 46px;
	display: block;
	margin-top: 6px;
}

.contact__submit {
	margin-top: 30px;
	text-align: center;
}

.form-input {
	width: 100%;
	border: 1px solid #707070;
	padding: 4px 16px;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
	background-image: none;
	border-radius: 0;
	color: inherit;
	font-family: inherit;
	font-size: 14px;
	box-shadow: none;
	height: 38px;

	@include mq('sp') {
		padding-top: 4px;
		padding-bottom: 4px;
	}
}

.form-select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background: transparent image-url('select-arrow.png') no-repeat center right 12px / 17px 14px;
	border-radius: 0;
	color: inherit;
	cursor: pointer;
	font-family: inherit;
	font-size: 14px;
	padding: 3px 16px;
	width: 100%;
	border: 1px solid #707070;
	height: 38px;

	@include mq('sp') {
		padding-top: 3px;
		padding-bottom: 3px;
		background-position: center right 10px;
	}

	&::-ms-expand {
		display: none;
	}
}

.form-textarea {
	width: 100%;
	height: 240px;
	border: 1px solid #707070;
	resize: none;
	padding: 10px 16px;
	line-height: (26 / 16);
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
	background-image: none;
	border-radius: 0;
	color: inherit;
	font-family: inherit;
	font-size: 14px;
	vertical-align: bottom;

	@include mq('sp') {
		height: 180px;
	}
}

