@import "static_pages";

body {
    background-color: #FFFAF0;
  }

// -----
// ログイン画面
// -----  

.login-title {
  padding: 0 0 28px;
    text-align: center;
  line-height: 1;

  img {
    width: 600px;

    @include mq('tab') {
      width: 500px;
    }

    @include mq('sp') {
      margin-top: -30px;
      width: 300px;
    }
  }
}

.contact__item {
  margin: 0px auto 0;
    padding: 60px;
    width: 600px;
    max-width: 100%;
}

.contact__control {
  @include mq('sp') {
    margin-bottom: 10px;
  }

 dt {
    width: 150px;
  } 
} 

.contact__control__password {
  margin-bottom: 20px;
}


.checkbox-input{
  display: none;
}

.checkbox-parts{
  padding-left: 20px;
  position:relative;
  margin-right: 20px;
  
  @include mq('sp') {
    font-size: $font-size-base - 4px;
  }
}
.checkbox-parts::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #999;
  border-radius: 4px;
}
.checkbox-input:checked + .checkbox-parts{
  color: #738851;
}
.checkbox-input:checked + .checkbox-parts::after{
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 5px;
  width: 7px;
  height: 14px;
  transform: rotate(40deg);
  border-bottom: 3px solid #738851;
  border-right: 3px solid #738851;
}

.forget__password {
  margin-top: 25.5px;

  @include mq('sp') {
    font-size: $font-size-base - 4px;
  }

  a {
    text-decoration: none;
    color: $color-text-base;
  }

  :hover {
    border-bottom: 1px solid;
  }
}




// -----
// 投稿&管理者リスト
// -----




.button {
  text-align: right;
  padding: 0 16px;
  margin-bottom: 24px;

  a {
    text-decoration: none;
    transition: all 0.3s ease 0s;
    color: $color-background-base;
    background: $color-main;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;

    &:hover {
      background: #fff;
      color: $color-main;
      border: 1px solid $color-main;
    }
  }


}


.post__thead__pc {
  text-align: left;
  @include mq('tab') {
    display: none;
  }
}

.post__table {
  border-collapse:collapse; 
  margin: 0 auto;
  width: 100%;
  border: 2px solid #333333;

  @include mq('tab') {
    width: 100%;
  }

  tr {
	&:nth-child(2n) {
		background: #fff;
	}

    @include mq('tab') {
	  width: 100%;
	}
  }
  
  th {
    margin: 0;
    padding: 6px 20px;
    font-size: 18px;
    font-weight: 700; 
    background: #333333;
    color: #fff;
  }

  td{
    margin: 0;
    font-size: 18px;
    font-weight: 700;
	vertical-align: middle;
	
    &:first-child {
		display: flex;	
		padding: 10px 20px;
	

		img {
			margin-right: 10px;
			height: 50px;
		
		}
		
		.table-nav {
			ul {
				display: flex;
		
				li {
					margin-right: 10px;
				}
			}
		}
    }

    &:nth-child(n+2) {
	  padding-right: 20px;
	  padding-left: 20px;
    }

    &:nth-child(2) {
      width: 200px;
    }

    &:nth-child(3), &:nth-child(4) {
      width: 150px;
    }

    &:before {
      @include mq('tab') {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        margin-right: 10px; 
      }
    }
      
    @include mq('tab') {
      display: block;
      text-align: left;
      width: 100%; 

      &:nth-child(n +1){
		width: 100%;
		padding: 12px 20px;
      }
    }
  }
}

.pagination__center {
  text-align: center;
  margin-top: 24px;
}

.pagination{
  li {
    a {          
      border: 1px solid #e2e2e2;
      color: $color-text-base;  
     
    
      transition: all 0.3s ease 0s;

      &:first-child {
       
      }
      &:hover {
        color: #fff;
        background: $color-main;
        border: 1px solid $color-main;   
      }
    }
  }

  .active {
    a {
      background: $color-main;
      border: 1px solid $color-main; 

      &:hover {
        background: $color-main;
        border: 1px solid $color-main; 
      }
    }
  }

  .disabled {
    @include mq('tab') {
      a {
        display: none;
      }
    }
  }
}

th,td {
  &:nth-child(4) {
      display: none;
  }
}

.alert {
  margin:0 0 1em 0; padding:10px 20px;
  line-height:1.5; 
}

.alert-success {
  background-color:#e2ffaa;
  border:1px solid #76CC0B;
  color:#3A9805;
  display: inline-block;
  border-radius: 6px;
}

.alert-danger {
  background-color:#FFEFEF;
  color:#C25338;
  border:1px solid #D4440D;
}













  