<% unless controller.controller_name == "password_resets" && controller.action_name == "new" \
	   || controller.controller_name == "password_resets" && controller.action_name == "create" \
	   || controller.controller_name == "sessions" && controller.action_name == "new" \
	   || controller.controller_name == "sessions" && controller.action_name == "create" %>
<footer>
	<div class="footer__inner inner">
		<div class="footer__container">
			<div class="footer__left">
				<div class="footer__logo"><a href="http://www.kochi-u.ac.jp/"><%= image_tag "ftr_logo.png", :alt => '高知大学フッターアイコン' %></a>
				</div><!-- /.footer__logo -->
				<div class="footer__info">
					<p>農林海洋科学部　農林資源環境科学科　森林科学領域</p>
					<p>住所：〒783-8502　南国市物部乙200</p>
					<p>電話：（088）864-5114</p>
				</div><!-- /.footer__info -->
			</div><!-- /.footer__left -->
			 <% if controller.controller_name == "static_pages" ||  controller.controller_name == "inquiry" %>
			<div class="footer__right">
				<div class="footer__sns">
					<%= render 'layouts/sns-share' %>
				</div><!-- /.footer_sns -->
			</div><!-- /.footer__right-->
			<% end %>
		</div><!-- /.footer__container -->
		<div class="footer__copy">Copyright 2020 Kochi University</div><!-- /.footer__copy -->
	</div><!-- /.footer__inner -->
</footer><!-- /.footer-->
<% end %>