<footer>
	<div class="footer__inner inner">
		<div class="footer__container">
			<div class="footer__left">
				<div class="footer__logo"><a href="http://www.kochi-u.ac.jp/"><%= image_tag "ftr_logo.png", :alt => '高知大学フッターアイコン' %></a>
				</div><!-- /.footer__logo -->
				<div class="footer__info">
					<p>農林海洋科学部　農林資源環境科学科　森林科学領域</p>
					<p>住所：〒783-8502　南国市物部乙200</p>
					<p>電話：（088）864-5114</p>
				</div><!-- /.footer__info -->
			</div><!-- /.footer__left -->
			<div class="footer__right">
				<div class="footer__sns">
					<ul class="shareList">
						<li class="shareList__item"><a class="shareList__link icon-twitter" href="http://twitter.com/share?url=http://www.cc.kochi-u.ac.jp/~ichiura/index.html" title="Twitter"><i class="fab fa-twitter"></i></a></li>
						<li class="shareList__item"><a class="shareList__link icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://www.cc.kochi-u.ac.jp/~ichiura/index.html"
						target="_blank"
						rel="nofollow noopener noreferrer"><i class="fab fa-facebook-f"></i></a></li>
						<li class="shareList__item"><a class="shareList__link icon-line" href="https://social-plugins.line.me/lineit/share?url=http://www.cc.kochi-u.ac.jp/~ichiura/index.html"
							target="_blank"
							rel="nofollow noopener noreferrer" title="LINE"><i class="fab fa-line"></i></a></li>
					</ul><!-- /.shareList -->
				</div><!-- /.footer_sns -->
			</div><!-- /.footer__right-->
		</div><!-- /.footer__container -->
		<div class="footer__copy">Copyright 2020 Kochi University</div><!-- /.footer__copy -->
	</div><!-- /.footer__inner -->
</footer><!-- /.footer-->