<header class="header">
	<div class="inner header__inner">
		<h1 class="header__logo"><%= image_tag "logo.png", :alt => '高知大学森林科学領域ホームページ' %></h1><!-- /.header__logo -->
		<nav class="header__nav">
			<ul>
				<li><a href="http://www.kochi-u.ac.jp/">高知大学トップ</a></li>
				<li><a href="http://www.kochi-u.ac.jp/agrimar/">農林海洋科学部トップ</a></li>
				<li><a href="http://www.kochi-u.ac.jp/agrimar/japan/gakubu/nourin.html">農林資源環境科学科トップ</a></li>
				<li><a href="https://nyusi.kochi-u.jp/">入試情報</a></li>
			</ul>
		</nav><!-- /.header__nav -->
	</div><!-- /.header__inner -->
</header><!-- /.header -->
<button class="drawer-icon js-drawer for-drawer" type="button" data-target="for-drawer">
	<span class="drawer-bars">
		<span class="drawer-bar"></span>
		<span class="drawer-bar"></span>
		<span class="drawer-bar"></span>
	</span>
	<span class="drawer-text">メニュー</span>
</button><!-- /drawer-icon -->
<div class="drawer-content-cover for-drawer">
	<ul>
		<li><a href="http://www.kochi-u.ac.jp/">高知大学トップ
		</a></li>
		<li><a href="http://www.kochi-u.ac.jp/agrimar/">農林海洋科学部トップ</a></li>
		<li><a href="http://www.kochi-u.ac.jp/agrimar/japan/gakubu/nourin.html">農林資源環境科学科トップ</a></li>
		<li><a href="https://nyusi.kochi-u.jp/">入試情報</a></li>
	</ul>
</div><!-- /drawer-content -->