<% unless controller.controller_name == "password_resets" && controller.action_name == "new" \
	   || controller.controller_name == "password_resets" && controller.action_name == "create" \
	   || controller.controller_name == "sessions" && controller.action_name == "new" %>
<header class="header">
	<div class="inner header__inner">
		<h1 class="header__logo"><%= image_tag "logo.png", :alt => '高知大学森林科学領域ホームページ' %></h1><!-- /.header__logo -->
		<nav class="header__nav">
			<%= render 'layouts/nav' %>
		</nav><!-- /.header__nav -->
	</div><!-- /.header__inner -->
</header><!-- /.header -->
<button class="drawer-icon js-drawer for-drawer" type="button" data-target="for-drawer">
	<span class="drawer-bars">
		<span class="drawer-bar"></span>
		<span class="drawer-bar"></span>
		<span class="drawer-bar"></span>
	</span>
	<span class="drawer-text">メニュー</span>
</button><!-- /drawer-icon -->
<div class="drawer-content-cover for-drawer">
	<%= render 'layouts/nav' %>
</div><!-- /drawer-content -->
<%end%>