<div class="og__media__body">
        <div class="og__media__title">石川いずみ さん</div><!-- /.media__title -->
        <div class="og__media__table">
        <table class="table-default">
            <tr>
                <th>出身</th>
                <td>：</td>
                <td>千葉県</td>
            </tr>
            <tr>
                <th>職業</th>
                <td>：</td>
                <td>林野庁　関東森林管理局　日光森林管理署</td>
            </tr>
            <tr>
                <th>研究室</th>
                <td>：</td>
                <td>大谷研究室</td>
            </tr>
            <tr>
                <th>研究分野</th>
                <td>：</td>
                <td>森林資源利用学</td>
            </tr>
            </table> 	
            <% case controller.action_name %>
            <% when "home" %>
            <span class="see-details">詳しく見る<i class="fas fa-arrow-right"></i></span>
            <% end %>
        </div><!-- /.og__media__table -->
    </div><!-- /.og__media__body -->
    <div class="og__media__img"><%= image_tag "isikawa-prof.jpg", :alt => '石川いずみさんの写真' %></div><!-- /.media__img -->