<ul class="shareList">
    <li class="shareList__item"><a class="shareList__link icon-twitter" href="http://twitter.com/share?url=<%= request.url %>" title="Twitter"><i class="fab fa-twitter"></i></a></li>
    <li class="shareList__item"><a class="shareList__link icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u=<%= request.url %>"
    target="_blank"
    rel="nofollow noopener noreferrer"><i class="fab fa-facebook-f"></i></a></li>
    <li class="shareList__item"><a class="shareList__link icon-line" href="https://social-plugins.line.me/lineit/share?url=<%= request.url %>"
        target="_blank"
        rel="nofollow noopener noreferrer" title="LINE"><i class="fab fa-line"></i></a></li>
</ul><!-- /.shareList -->