<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="img/icon.jpg">
  <title>高知大学　森林科学領域</title>
  <meta name="description" content="高知大学農林海洋科学部農林資源環境科学科森林科学領域の公式ホームページです">
  <link rel="stylesheet" type="text/css" href="./css/reset.css">
	<link rel="stylesheet" href="./css/swiper.min.css">
	<link rel="stylesheet" href="./css/graduate.css">
	<!-- wow.js puraguinn -->
	<link rel="stylesheet" href="./css/animate.css">
	<!--fontawesome-->
	<script src="https://kit.fontawesome.com/c93c1bab3a.js" crossorigin="anonymous"></script>
	<!-- OGP -->
	<meta property="og:url" content="http://www.kochi-u.ac.jp/agrimar-skg/tamurasae.html" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="高知大学 農林海洋科学部 森林科学領域" />
	<meta property="og:description" content="森林率全国1位の高知県!林業や自然を学ぶためには絶好の環境です"/>
	<meta property="og:site_name" content="高知大学 農林海洋科学部 農林資源環境科学科 森林科学領域" />
	<meta property="og:image" content="http://www.kochi-u.ac.jp/agrimar-skg/img/tamurasae-prof.jpg" />
	
	<!--twitter-card-->
	<meta name="twitter:card" content="summary_large_image" /> 
	<meta name="twitter:site" content="@KochiU_News"/>
</head>
<body>
	<header class="header">
		<div class="inner header__inner">
			<h1 class="header__logo"><img src="img/logo.png" alt="高知大学森林科学領域公式ホームページ"></h1><!-- /.header__logo -->
			<nav class="header__nav">
				<ul>
					<li><a href="http://www.kochi-u.ac.jp/">高知大学トップ</a></li>
					<li><a href="http://www.kochi-u.ac.jp/agrimar/">農林海洋科学部トップ</a></li>
					<li><a href="http://www.kochi-u.ac.jp/agrimar/japan/gakubu/nourin.html">農林資源環境科学科トップ</a></li>
					<li><a href="https://nyusi.kochi-u.jp/">入試情報</a></li>
				</ul>
			</nav><!-- /.header__nav -->
		</div><!-- /.header__inner -->
	</header><!-- /.header -->
	<button class="drawer-icon js-drawer for-drawer" type="button" data-target="for-drawer">
		<span class="drawer-bars">
			<span class="drawer-bar"></span>
			<span class="drawer-bar"></span>
			<span class="drawer-bar"></span>
		</span>
		<span class="drawer-text">メニュー</span>
	</button><!-- /drawer-icon -->
	<div class="drawer-content-cover for-drawer">
		<ul>
			<li><a href="http://www.kochi-u.ac.jp/">高知大学トップ
			</a></li>
			<li><a href="http://www.kochi-u.ac.jp/agrimar/">農林海洋科学部トップ</a></li>
			<li><a href="http://www.kochi-u.ac.jp/agrimar/japan/gakubu/nourin.html">農林資源環境科学科トップ</a></li>
			<li><a href="https://nyusi.kochi-u.jp/">入試情報</a></li>
		</ul>
	</div><!-- /drawer-content -->

  <section id="" class="prof section">
    <div class="prof__inner inner">
      <div class="prof__media">
        <div class="prof__media__body">
          <div class="prof__media__title">田村 彩恵 さん</div><!-- /.media__title -->
          <div class="prof__media__table">
            <table class="table-default">
              <tr>
                <th>出身</th>
                <td>：</td>
                <td>京都府</td>
              </tr>
              <tr>
                <th>職業</th>
                <td>：</td>
                <td>京都府　森づくり振興課</td>
              </tr>
              <tr>
                <th>研究室</th>
                <td>：</td>
                <td>市栄研究室</td>
              </tr>
              <tr>
                <th>研究分野</th>
                <td>：</td>
                <td>森林生態学</td>
              </tr>
             </table> 	
          </div><!-- /.prof__media__table -->
        </div><!-- /.prof__media__body -->
        <div class="prof__media__img"><img src="./img/tamurasae-prof.jpg" alt="田村彩恵さんの写真"></div><!-- /.media__img -->
      </div><!-- /.prof__media -->
    </div><!-- /.prof__inner -->
  </section><!-- /.prof -->

  <section id="" class="main section">
    <div class="main__inner inner">
      <div class="main__content">
        <h2 class="main__title">森林科学科への進学理由</h2>
        <p>幼いころから、自然が好きで山が好きでした。自分の好きな森林をこれからも残していくためにも山に関する勉強がしたいと思い、森林科学コースへ進学しました。（高校で文系を選択していた私でも二次試験が小論文のみで受験可能だったこと、）田舎が好きで自然豊かな環境で勉強したいと思ったことから高知を選びました。また、大学の演習林に行き実際に林業に関する実習を行うことができることを知り、楽しそうだなと思ったことも理由の一つでした。</p>
      </div><!-- /.main__content -->
      <div class="main__content">
        <h2 class="main__title">今の仕事につながる森林領域での学び</h2>
        <p>大学では林業から森林の生態、木材のことまで幅広く勉強できたので、今の仕事を行う上での基礎的な知識はほとんど学ぶことができました。幅広い視点を活かし、これからの仕事にも活かしていきたいです。</p>
      </div><!-- /.main__content -->
      <div class="main__content">
        <h2 class="main__title">今の職場での仕事内容</h2>
        <p>今は林業振興に関する仕事をしています。森林整備を進めていくための基礎的な計画である地域森林計画に関する業務や、森林整備を進める市町村や事業体への支援、地域の緑化運動の支援などを行っています。</p>
      </div><!-- /.main__content -->
      <div class="main__content">
        <h2 class="main__title">印象に残っていること</h2>
        <p>海外での調査です。どんな環境で森林がよりよい成長をしているのかを知るため、道なき道を進み調査区を作り、どんな種類の樹木が何本、どんな環境で生育しているのかを調査しました。調査期間中は調査をするだけでなく、実際にそこに住んでいる人と交流したり、床が抜けそうな高床式倉庫の中に泊まったり、楽しい経験をたくさんさせてもらいました。自分の研究は、自分が責任をもって行わなければならないので大変なことも多いですが、その分大きな達成感を得ることができます。</p>
      </div><!-- /.main__content -->
      <div class="main__content">
        <h2 class="main__title">これから進学する皆さんへ</h2>
        <p>どの大学に進学しても、やりたいことをしてほしいです。ほとんどの人にとって大学生活は自分のやりたいことを時間を気にせずとことん追求できる最後の場所だと思います。自分が行動すれば何にでも挑戦できると思うので、4年しかない時間を自分の思いに素直に、有意義に過ごしてほしいです。</p>
      </div><!-- /.main__content -->
      <div class="main__content">
        <img src="./img/tamurasae-end.jpg" alt="田村彩恵さんの写真">
      </div><!-- /.main__content -->
    </div><!-- /.main__inner -->
  </section><!-- /.main -->
    
  <section id="" class="bottom section">
    <div class="bottom__inner inner">
      <div class="bottom__nav">
        <nav>
          <ul>
            <li><a href="index.html#a-graduate">卒業生の声に戻る<i class="fas fa-arrow-right"></i></a></li>
            <li><a href="index.html">森林領域トップ<i class="fas fa-arrow-right"></i></a></li>
          </ul>
        </nav>
			</div><!-- ./buttom__nav -->
    </div><!-- ./buttom__inner -->
  </section><!-- ./buttom -->

	<footer>
		<div class="footer__inner inner">
			<div class="footer__container">
				<div class="footer__left">
					<div class="footer__logo"><a href="http://www.kochi-u.ac.jp/"><img src="img/ftr_logo.png" alt="高知大学 フッター アイコン"></a>
					</div><!-- /.footer__logo -->
					<div class="footer__info">
						<p>農林海洋科学部　農林資源環境科学科　森林科学領域</p>
						<p>住所：〒783-8502　南国市物部乙200</p>
						<p>電話：（088）864-5114</p>
					</div><!-- /.footer__info -->
				</div><!-- /.footer__left -->
				<div class="footer__right">
					<div class="footer__sns">
						<ul class="shareList">
							<li class="shareList__item"><a class="shareList__link icon-twitter" href="http://twitter.com/share?url=http://www.kochi-u.ac.jp/agrimar-skg/tamurasae.html" title="Twitter"><i class="fab fa-twitter"></i></a></li>
							<li class="shareList__item"><a class="shareList__link icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://www.kochi-u.ac.jp/agrimar-skg/tamurasae.html"
							target="_blank"
							rel="nofollow noopener noreferrer"><i class="fab fa-facebook-f"></i></a></li>
							<li class="shareList__item"><a class="shareList__link icon-line" href="https://social-plugins.line.me/lineit/share?url=http://www.kochi-u.ac.jp/agrimar-skg/tamurasae.html"
								target="_blank"
								rel="nofollow noopener noreferrer" title="LINE"><i class="fab fa-line"></i></a></li>
						</ul><!-- /.shareList -->
					</div><!-- /.footer_sns -->
				</div><!-- /.footer__right-->
			</div><!-- /.footer__container -->
			<div class="footer__copy">Copyright 2020 Kochi University</div><!-- /.footer__copy -->
		</div><!-- /.footer__inner -->
	</footer><!-- /.footer-->

	<div id="page-top" class="page-top">
		<p><a id="move-page-top" class="move-page-top">▲</a></p>
	</div><!-- /.page-top -->

  <!--jquery読み込み -->
	<script src="./js/jquery-3.5.1.min.js"></script>
	<!-- スワイパープラグイン -->
	<script src="./js/swiper.min.js"></script>
	<!-- wow プラグイン読み込み -->
	<script src="./js/wow.min.js"></script>
	<!-- main.js読み込み -->
	<script src="./js/main.js"></script>

</body>
</html>
